@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-slate-100 bg-slate-200;
}

.shadow-top {
    --tw-shadow: 0 -10px 15px 3px rgb(0 0 0 / 0.1), 0 -4px 6px 4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 -10px 15px 3px var(--tw-shadow-color), 0 -4px 6px 4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

textarea:focus, input:focus{
    @apply outline-none
}